* {
  padding: 0;
  margin: 0;
  /* border: 0; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

label {
  cursor: pointer;
  display: block;
  user-select: none;
}

button {
  cursor: pointer;
  border: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

table td {
	padding: 0;
	margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 30px;
}